<div class="p-6 sm:p-10 space-y-6 h-screen w-screen">
  <div class="flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between">
    <div class="mr-6">
      <h1 class="text-4xl font-semibold mb-2">Payslip Dashboard</h1>
    </div>
  </div> 
  <section class="grid md:grid-cols-2 xl:grid-cols-4 gap-6">
    <% @payslips.each do |payslip| %>
      <div class="flex items-center p-8 bg-white shadow rounded-lg">
        <div>
          <span class="block text-2xl font-bold"><%= payslip.employee.fullname %></span>
          <span class="block text-gray-500"><%= link_to 'Show', payslip_path(payslip) %></span>
        </div>
      </div>
    <% end %>
  </section>    
</div>

