<span data-taxation="<%= allowance.id%>" class="taxation-name leading-none flex items-center flex-shrink-0 h-10 px-2 text-sm capitalize font-medium rounded hover:bg-gray-800 hover:text-pink-200 "><%= allowance.name %>
</span>