<div class="flex flex-col p-6 sm:p-10 space-y-6 relative h-screen w-screen">
  <div class="flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between my-3">
    <div class="mr-6">
      <h1 class="text-4xl font-semibold mb-2">Teams Dashboard</h1>
    </div>
  </div>
  <div class="flex flex-col overflow-y-auto px-5 py-3">
    <div class="grid md:grid-cols-2 xl:grid-cols-4 gap-6 py-6" >
      <% @teams.each do |t| %>
        <button data-box="<%= t.id%>" class="taxation-button btn-ouline box flex items-center p-8 bg-white shadow rounded-lg">
            <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-purple-600 bg-purple-100 rounded-full mr-6">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
                <path d="M4.5 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM14.25 8.625a3.375 3.375 0 116.75 0 3.375 3.375 0 01-6.75 0zM1.5 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM17.25 19.128l-.001.144a2.25 2.25 0 01-.233.96 10.088 10.088 0 005.06-1.01.75.75 0 00.42-.643 4.875 4.875 0 00-6.957-4.611 8.586 8.586 0 011.71 5.157v.003z" />
              </svg>
            </div>
            <div class="text-start">   
              <span class="block text-2xl font-bold"><%= link_to t.name, departement_team_path(t.departement, t) %></span>
              <span class="block text-gray-500"><%= t.departement.name %></span>
            </div>
        </button>
      <% end %>
    </div>
  </div>
</div>

